@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --body-color: #E4E9F7;
    --siderbar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    background-color: var(--body-color);
}

.wrapper {
    padding: 8vw;
}

nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    padding: 8px 12px;
    background-color: var(--primary-color-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.name {
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: auto;
}

.nav-links {
    display: flex;
    width: 50%; /* Adjusted width for better responsiveness */
    justify-content: space-between;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    transition: color var(--tran-03);
}

.nav-links a:hover {
    color: var(--primary-color);
}

.nav-toggle {
    display: none;
}

.toggle span {
    top: 10px;
    right: 10px;
    position: absolute;
    width: 25px;
    height: 2px;
    background: var(--text-color);
    border-radius: 4px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(-8px);
    width: 25px;
    height: 2px;
}

.toggle.active span:nth-child(1) {
    width: 20px;
    transform: translateY(0px) rotate(45deg);
    transition: var(--tran-04);
}

.toggle span:nth-child(2) {
    transform: translateY(8px);
    width: 25px;
    height: 2px;
}

.toggle.active span:nth-child(2) {
    width: 20px;
    transform: translateY(0px) rotate(315deg);
    transition: var(--tran-04);
}

.toggle.active span:nth-child(3) {
    transform: translateX(60px);
    transition: var(--tran-04);
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color-light);
    z-index: 1000;
    transition: background-color var(--tran-02);
}

#main-header.hide {
    background-color: transparent;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
